@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;500&display=swap');

@custom-variant dark (&:is(.dark *));

:root {
  --font-size: 16px;
  /* Typography variables */
  --text-5xl: 56px;
  --text-2xl: 32px;
  --text-xl: 20px;
  --text-lg: 18px;
  --text-base: 16px;
  --text-sm: 14px;
  --font-family-heading: 'Montserrat', sans-serif;
  --font-family-body: 'Open Sans', sans-serif;
  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  
  /* The default background color for the application. */
  --background: rgba(255, 255, 255, 1.00);
  /* The default color for elements or text that appears on top of the background. */
  --foreground: rgba(26, 26, 26, 1.00);
  /* The background color for cards, modals, and other containers. */
  --card: rgba(255, 255, 255, 1.00);
  /* The default color for text or elements that appear on top of cards, modals and other background containers. */
  --card-foreground: rgba(26, 26, 26, 1.00);
  /* The background color for dropdowns and tooltips. */
  --popover: rgba(255, 255, 255, 1.00);
  /* The default color for text or elements that appear on top of dropdowns and tooltips. */
  --popover-foreground: rgba(26, 26, 26, 1.00);
  /* The primary color used for buttons, links, and other interactive elements. */
  --primary: rgba(216, 0, 115, 1.00);
  /* The default color for text or elements that appear on top of primary colored elements. */
  --primary-foreground: rgba(255, 255, 255, 1.00);
  /* The secondary color used for secondary(but NOT-DESTRUCTIVE) buttons and interactive elements. */
  --secondary: rgba(245, 245, 245, 1.00);
  /* The default color for text or elements that appear on top of secondary colored elements. */
  --secondary-foreground: rgba(26, 26, 26, 1.00);
  /* The muted color used for less prominent elements, such as disabled buttons or disabled text. */
  --muted: rgba(222, 222, 222, 1.00);
  /* The default color for text or elements that appear on top of muted colored elements. */
  --muted-foreground: rgba(222, 222, 222, 1.00);
  /* The accent color used for highlights, links, and other interactive elements. */
  --accent: rgba(216, 0, 115, 1.00);
  /* The default color for text or elements that appear on top of accent colored elements. */
  --accent-foreground: rgba(255, 255, 255, 1.00);
  /* The color used for background in destructive actions, such as delete buttons or error messages. */
  --destructive: rgba(0, 0, 0, 0);
  /* The default color for text or elements that appear on top of destructive colored elements. */
  --destructive-foreground: rgba(176, 0, 21, 1.00);
  /* The default border color for elements such as inputs, buttons, and other containers. */
  --border: rgba(0, 0, 0, 0.08);
  /* The default background color for input fields once the text has been filled. Should be either transparent or match the input-background. */
  --input: rgba(0, 0, 0, 0);
  /* The default background color for input fields, text areas, and other input elements. */
  --input-background: rgba(0, 0, 0, 0);
  /* The color for focus rings, outlines, and other focus indicators. */
  --ring: rgba(255, 229, 243, 1.00);
  /* Shadow for small elevations, such as cards or modals. */
  --elevation-sm: 0px 0px 0px 4px rgba(255, 229, 243, 1.00);
  /* The color for chart elements, such as a bar or line in a chart. */
  --chart-1: rgba(216, 0, 115, 1.00);
  /* The color for another chart element, such as a bar or line in a chart. */
  --chart-2: rgba(166, 0, 88, 1.00);
  /* The color for another chart element, such as a bar or line in a chart. */
  --chart-3: rgba(255, 229, 243, 1.00);
  /* The color for another chart element, such as a bar or line in a chart. */
  --chart-4: rgba(102, 102, 102, 1.00);
  /* The color for another chart element, such as a bar or line in a chart. */
  --chart-5: rgba(183, 74, 1, 1.00);
  /* The default border radius for elements such as buttons, cards, and other containers. */
  --radius: 16px;
  /* The background color for sidebars, navigation menus, and other persistent elements. */
  --sidebar: rgba(0, 0, 0, 0);
  /* The default color for text or elements that appear on top of sidebars, navigation menus, and other persistent elements. */
  --sidebar-foreground: rgba(26, 26, 26, 1.00);
  /* The primary color used for buttons, links, and other interactive elements in sidebars and navigation menus. */
  --sidebar-primary: rgba(216, 0, 115, 1.00);
  /* The default color for text or elements that appear on top of primary colored elements in sidebars and navigation menus. */
  --sidebar-primary-foreground: rgba(255, 255, 255, 1.00);
  /* The accent color used for highlights, links, and other interactive elements in sidebars and navigation menus. */
  --sidebar-accent: rgba(216, 0, 115, 1.00);
  /* The default color for text or elements that appear on top of accent colored elements in sidebars and navigation menus. */
  --sidebar-accent-foreground: rgba(255, 255, 255, 1.00);
  /* The default border color for elements in sidebars and navigation menus. */
  --sidebar-border: rgba(0, 0, 0, 0.08);
  /* The default color for focus rings, outlines, and other focus indicators in sidebars and navigation menus. */
  --sidebar-ring: rgba(255, 229, 243, 1.00);
}

.dark {
  --background: rgba(26, 26, 26, 1.00);
  --foreground: rgba(255, 255, 255, 1.00);
  --card: rgba(38, 38, 38, 1.00);
  --card-foreground: rgba(255, 255, 255, 1.00);
  --popover: rgba(38, 38, 38, 1.00);
  --popover-foreground: rgba(255, 255, 255, 1.00);
  --primary: rgba(216, 0, 115, 1.00);
  --primary-foreground: rgba(255, 255, 255, 1.00);
  --secondary: rgba(64, 64, 64, 1.00);
  --secondary-foreground: rgba(255, 255, 255, 1.00);
  --muted: rgba(102, 102, 102, 1.00);
  --muted-foreground: rgba(153, 153, 153, 1.00);
  --accent: rgba(216, 0, 115, 1.00);
  --accent-foreground: rgba(255, 255, 255, 1.00);
  --destructive: rgba(176, 0, 21, 1.00);
  --destructive-foreground: rgba(255, 255, 255, 1.00);
  --border: rgba(255, 255, 255, 0.1);
  --input: rgba(0, 0, 0, 0);
  --input-background: rgba(255, 255, 255, 0.05);
  --ring: rgba(255, 229, 243, 0.4);
  --elevation-sm: 0px 0px 0px 4px rgba(255, 229, 243, 0.4);
  --chart-1: rgba(216, 0, 115, 1.00);
  --chart-2: rgba(166, 0, 88, 1.00);
  --chart-3: rgba(255, 229, 243, 0.8);
  --chart-4: rgba(153, 153, 153, 1.00);
  --chart-5: rgba(183, 74, 1, 1.00);
  --sidebar: rgba(38, 38, 38, 1.00);
  --sidebar-foreground: rgba(255, 255, 255, 1.00);
  --sidebar-primary: rgba(216, 0, 115, 1.00);
  --sidebar-primary-foreground: rgba(255, 255, 255, 1.00);
  --sidebar-accent: rgba(216, 0, 115, 1.00);
  --sidebar-accent-foreground: rgba(255, 255, 255, 1.00);
  --sidebar-border: rgba(255, 255, 255, 0.1);
  --sidebar-ring: rgba(255, 229, 243, 0.4);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-input-background: var(--input-background);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: 12px;
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: 100px;
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/**
 * Base typography. This is not applied to elements which have an ancestor with a Tailwind text class.
 */
@layer base {
  :where(:not(:has([class*=" text-"]), :not(:has([class^="text-"])))) {
    h1 {
      font-family: var(--font-family-heading);
      font-size: var(--text-5xl);
      font-weight: var(--font-weight-bold);
      line-height: 1.2;
    }

    h2 {
      font-family: var(--font-family-heading);
      font-size: var(--text-2xl);
      font-weight: var(--font-weight-bold);
      line-height: 1.3;
    }

    h3 {
      font-family: var(--font-family-heading);
      font-size: var(--text-xl);
      font-weight: var(--font-weight-bold);
      line-height: 1.4;
    }

    h4 {
      font-family: var(--font-family-heading);
      font-size: var(--text-lg);
      font-weight: var(--font-weight-bold);
      line-height: 1.4;
    }

    p {
      font-family: var(--font-family-body);
      font-size: var(--text-base);
      font-weight: var(--font-weight-normal);
      line-height: 1.5;
    }

    label {
      font-family: var(--font-family-body);
      font-size: var(--text-sm);
      font-weight: var(--font-weight-normal);
      line-height: 1.5;
    }

    button {
      font-family: var(--font-family-heading);
      font-size: var(--text-sm);
      font-weight: var(--font-weight-bold);
      line-height: 1.5;
    }

    input {
      font-family: var(--font-family-body);
      font-size: var(--text-base);
      font-weight: var(--font-weight-normal);
      line-height: 1.5;
    }
  }
}

html {
  font-size: var(--font-size);
}